<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challengeboard.name %>
</p>

<%= link_to 'Edit', edit_challengeboard_path(@challengeboard) %> |
<%= link_to 'Back', challengeboards_path %>
